<h1>hello</h1><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../layout/header') %>
    <div class="row match-height" style="margin-left: 300px; margin-top: 20px;">
        <div class="col-lg-6 col-md-12">
          <div class="card shadow-sm">
            <div class="card-header bg-primary text-white text-center">
              <h4>Fill Out Your Details</h4>
            </div>
            <div class="card-block">
                <div class="card-body">
                  <form action="/ExtraCategory/insertExtraCategory" method="post" > 
                    <!-- category -->
                    <label for="exampleInputname" class="form-label">category Name</label>
             
                    <select  id="categoryId"  onchange="return getsextraCategory()">
                     <option value="">--select category--</option>
                     <% categoryData.map((v,i)=>{ %> 
                       <option value="<%= v.id %>"><%= v.category %></option>
                       <% }) %>
                   
                    </select><br><br>
                    <!-- subCategory -->
                    <label for="exampleInputname" class="form-label">sub category Name</label>
                    
              
                    <select id="SubCategoryId" onchange="return getsextraCategory()" >
                     <option value="">--select category--</option>
                     <% subcategoryData.map((v,i)=>{ %> 
                       <option value="<%= v.id %>"><%= v.subCategory %></option>
                       <% }) %>
                   
                    </select>
                <!-- Name -->
                <h5 class="mt-3">Enter Extra Category</h5>
                <fieldset class="form-group">
                  <input type="text" placeholder="Enter your Name" name="ExtraCategory" id="ExtraCategoryId" class="form-control" />
                </fieldset>
                <!-- Submit Button -->
                <fieldset class="form-group text-center">
                  <input type="submit" class="btn btn-success w-100 mt-4" />
                </fieldset>
            </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    
</body>
</html>

<script>
  function getsextraCategory(){
    let catId=document.getElementById('categoryId').value
    let subcatId=document.getElementById('SubCategoryId').value

    $.ajax({
      url:'/ExtraCategory/',
      method:"POST",
      data:{
        categoryId:catId,
        SubCategoryId:subcatId
      },success:function(res){
        $("#ExtraCategoryId").html(res)
      }
    })
  }
</script>