<%- include('../layout/header') %>
<div class="card-body" style="margin-left: 300px; background-color: white;margin-top: 20px; width: 1000px;">
    <table class="table table-striped">
      <thead>
        <tr>
       
          <th>category</th>
          <th>Sub-Category</th>
          <th>Extra-Category</th>
          <th>status</th>
    <th>action</th>
        </tr>
      </thead>
<thead>
  <% viewExtraCate.map((v,i)=>{ %>
    <th><%= v.categoryId.category %></th>
    <th><%= v.SubCategoryId.subCategory %></th>
    <th><%= v.ExtraCategory %></th>
    <th></th>
    <th><a href="/ExtraCategory/deleteExtraCategory/?extraId=<%= v.id %>">delete</a></th> 
    <% }) %>
</thead>
    
    </table>
  </div>