<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./layout/header.ejs') %>
        <div style="margin-left: 300px;margin-top: 20px; background-color: white; padding: 20px;">
            <img src="<%= locals.user.Image %>" width="100px" alt="">
            <p>Name:<%= locals.user.name %></p>
            <p>Email:<%= locals.user.email %></p>
            <p>Gender:<%= locals.user.gender %></p>
            <p>Hobby:<%= locals.user.hobby %></p>
            <p>City:<%= locals.user.cityName %></p>
            <a href="/updateAdmin/?id=<%= locals.user.id %>"><i class="la la-pencil-square"  style="font-size: 30px;"></i></a> </td>
        </div>
</body>
</html>
